entrypoint = "Day7/finalProject_step1.py"
modules = ["python-3.10"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "."]
deploymentTarget = "cloudrun"
